@use "../utilities/variables" as *;

.about,
.skills,
.projects,
.contact {
  padding: 10rem 0 10rem 0;
}

// .about section styles
.about {
  p {
    margin-top: 3rem;
  }
}

// .skills section styles
.skills {
  background-color: $tertiary;
  .iconContainer {
    margin: 5rem auto 1rem auto;
    max-width: 60%;
    ul {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      text-align: center;
      li {
        margin: 0 auto;
        margin: 3rem;
        width: 5vw;
        img {
          max-width: 100%;
        }
      }
    }
  }
}

// .projects section styles 
.projects {
  ul {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
  li {
    margin: 1rem;
    max-width: 35vw;
    text-align: center;
    margin: 0 auto;
    img {
      border-radius: 30px;
      width: 500px;
      border: 1px solid black;
      margin: 5rem auto;
      // focus animation  
      transition: .2s ease;
      &:hover,
      &:focus {
          box-shadow: .2rem .2rem $tertiary;
          transform: scale(1.4);
        }
    }
    a {
      padding: .5rem 1rem;
      background-color: $white;
      border: 2px solid $secondary;
      border-radius: 30px;
      margin: 2rem 1rem;
      &:hover,
      &:focus {
        background-color: $secondary;
      }
    }
  }
}


// .contact section styles
.contact {
  background-color: $secondary;
  h2,
  p,
  fieldset {
    padding: 1rem;
  }
  form {
    margin: 0 auto;
    background: $white;
    padding: 1rem 2rem;
    width: 90%;
    max-width: 80vw;
    border-radius: 5%;
    input,
    textarea {
      border: 0;
      margin: .75rem 0;
      outline: none;
      border-radius: 30px;
      padding: 1rem;
      resize: none;
    }
  }
  fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    button {
      border-radius: 30px;
      padding: 1rem 3rem;
      margin: 0 auto;
      border: 1px solid $secondary;
      cursor: pointer;
      &:hover,
      &:focus {
        background-color: $tertiary;
      }
    }
  }
}